body {
  font-size: 1.3rem;
  margin: 0;
}

.login-form {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf4fc;
}

.login-form>h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.form {
  border: 5px solid #d7e7f8;
  padding: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  background-color: white;
  border-radius: 50px;
  background: #ffffff;
}

.form>h2 {
  margin: 0px;
  font-weight: 500;
  padding: 0;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 20rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.innerDiv>input {
  border-radius: 0.5rem;
  height: 2rem;
  border: 0.1rem solid rgb(157, 186, 249);
}

.innerDiv>input:hover {
  background-color: #d7e7f8;
}

/* incomplete task */
.innerDiv>input:active {
  background-color: #d7e7f8;
  border: 0.1rem solid rgb(126, 167, 255);
}

.submitbtn {
  font-size: 1.2rem;
  width: 10rem;
  text-align: center;
  background-color: #e30a0a;
  border: none;
  padding: 0.4rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.submitbtn:hover {
  background-color: #b20707;
  cursor: pointer;
}

.innerDiv>input {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 12px;
  background: #ffffff;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  padding: 0.9rem;
}

.logo {
  height: 9rem;
  width: auto;
  margin-top: 1rem;
}

.forgotpassword {
  color: blue;
}

.forgotpassword:hover {
  color: rgb(36, 36, 187);
}

.head>h1 {
  font-weight: 400;
}

.procedure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3rem;
  font-size: 1.3rem;
  background-color: #d7e7f8;
}

.DOCUMENTS{
  border-radius: 1.3rem;
  background-color: #edf4fc;
  padding: 2rem;
  box-shadow: 8px 10px rgba(136, 136, 136, 0.2);
  line-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

.procedure>h2{
  padding-top: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.proceed{
  font-size: 1.3rem;
  width: 6rem;
  text-align: center;
  justify-content: center;
  background-color: #f43d3d;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.7rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.proceed:hover {
  background-color: #f85d5d;
  cursor: pointer;
}
.download {
  font-size: 1.3rem;
  width: 10.5rem;
  float: right;
  justify-content: right;
  background-color: #068c39;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.7rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.download:hover {
  background-color: #f45050;
  cursor: pointer;
}

.btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 65s0px) {
  .btns>div{
    display: none;
  }
}